:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-orange: #ffa000;
  --color-purple: #806dff;
  --color-red: #ff5252;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}
